.container {
    display: flex;
    flex-direction: column;
    background-color: var(--silver-dark);
    border-radius: 5px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 5rem;
    gap: 1rem;
    border: 2px solid var(--crimson-dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--crimson-dark);
    margin-bottom: 1rem;
}

.header h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid var(--crimson-dark);
    padding-bottom: 0.5rem;
}

.description {
    border: 1px solid var(--crimson-dark);
    border-radius: 5px;
    color: var(--crimson);
    height: auto;
    min-height: 8rem;
    background-color: var(--silver);
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--crimson-dark);
    border-radius: 5px;
    padding: 0.5rem;
    min-height: 4rem;
    height: auto;
    color: var(--crimson);
    flex: 1 1 200px;
    max-width: 250px;
}

.card span {
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    font-style: italic;
}

.createdAt {
    align-self: flex-end;
    font-size: 0.7rem;
    margin-top: auto;
    color: var(--crimson-dark);
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .description {
    width: 100%;
    padding: 1rem;
  }

  .cardsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .header {
    gap: 0.5rem;
    padding: 0 2rem;
  }

  .createdAt {
    align-self: center;
    margin-top: 1rem;
  }
}