.campaignCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--crimson-dark);
  border-radius: 5px;
  border: 1px solid var(--silver-dark);
  width: 100%;
  max-width: 26rem;
  min-width: 20rem;
  height: 12rem;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 1rem;
}

.campaignCard:hover { 
  transform: translateY(-1px);
  box-shadow:
  0 0 4px rgba(220, 20, 60, 0.6),
  0 0 12px rgba(220, 20, 60, 0.4),
  0 0 20px rgba(220, 20, 60, 0.2);
}

.selected {
  transform: scale(1.02);
  background-color: var(--crimson);
  box-shadow:
  0 0 4px rgba(220, 20, 60, 0.6),
  0 0 12px rgba(220, 20, 60, 0.4),
  0 0 20px rgba(220, 20, 60, 0.2);
}

.titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleDiv h2 {
  font-size: 1.3rem;
  margin: 0;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitleDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.createdAt {
    align-self: flex-end;
    font-size: 0.7rem;
    margin-top: auto;
}


@media (max-width: 768px) {
  .campaignCard {
    height: auto;
  }
}