:root {
  --crimson: #dc143c;
  --crimson-dark: #b01030;
  --crimson-light: #f04d65;
  --beige-light: #f5f5dc;
  --beige: #e8e4c9;
  --beige-dark: #d8d0b8;
  --paper: #f9f4e3;
  --ink: #2d2a24;
  --ink-light: #5a534a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--paper);
  color: var(--ink);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

p,
a,
li,
span,
button {
  font-family: var(--font-lora);
}
