.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 16vw;
  min-width: 250px;
  border-right: 3px solid var(--silver-dark);
  transition: all 0.3s ease;
  background-color: var(--graphite);
}

.aside.collapsed {
  width: 70px;
  min-width: 70px;
}

.collapseButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--silver);
  display: flex;
  align-items: center;
  justify-content: center;
}


.titleBox {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 10vh;
    min-height: 70px;
    border-bottom: 2px solid var(--silver-dark);
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.2rem;
    color: var(--crimson);
}

.subtitle {
    font-size: 0.9rem;
    color: var(--silver);
    font-style: italic;
}

.userBox {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 10vh;
    min-height: 60px;
    border-bottom: 2px solid var(--silver-dark);
    align-items: center;
    justify-content: space-evenly;
}

.avatar {
    display: flex;
    background-color: var(--crimson);
    color: var(--silver-light);
    justify-content: center;
    align-items: center;    
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.2rem;
}

.username {
    font-size: 1.2rem;
    color: var(--silver-light);
}

.email {
    font-size: 0.9rem;
    color: var(--silver-dark);
}

.footer {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: auto;
    border-top: 2px solid var(--silver-dark);
    background-color: var(-graphite);
}

.footerButton {
    margin: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    width: 85%;
    height: 2.5rem;
    padding-left: 1rem;
    gap: 1rem;
    background-color: var(--silver-dark);
    color: var(--crimson-dark);
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.2s;
}

.footerButton:hover {
    background-color: var(--silver);
    color: var(--crimson);
}