.dashboard-wrapper {
  display: flex;
}

/* Aside fixo */
.dashboard-aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 17vw;
  min-width: 250px;
  border-right: 3px solid var(--silver-dark);
}

/* Conteúdo principal */
.dashboard-content {
  flex: 1;
  margin-left: 17vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

/* Main interno */
.dashboard-content main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
